[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "usedthese"]
	path = usedthese
	url = https://github.com/cgoo4/usedthese
	shallow = true
	registered = true
